<footer class="footer py-5">
    <div class="container" style="margin-top: 3vh;">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://https://btrack.nicepage.io/About-Us.html" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            About Us
          </a>
          
          <a href="https://btrack.nicepage.io/Services.html" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Services
          </a>
          <a href="https://btrack.nicepage.io/Why-BTRACK.html" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Why BTrack?
          </a>
          <a href="https://btrack.nicepage.io/Contact.html" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Contact Us
          </a>
        </div>
        <!-- <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-dribbble"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-pinterest"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div> -->
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy; 2023-24, BTrack, Inc. or its affiliates
 
          </p>
        </div>
      </div>
    </div>
  </footer>
  